
.films-grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}
.films-grid li{
    display: flex;
    width: 100%;
    border: 1px solid #CCCCCC;
}
.films-grid li:not(:last-child) {
    border-bottom: 0;
}
.films-grid li div:not(:last-child){
    border-right: 1px solid #CCCCCC;
}
.films-grid li div{
    flex: 1;
}
.films-grid .header{
    font-weight: 600;
}
.films-grid li div{
    padding: 10px 0;
    text-align: center;
}
.handle-button{
    max-width: 80px;
}
body .films-grid .handle-header{
    max-width: 161px;
}
