.handle-container{
    display:flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    position: fixed;
    left: calc(50% - 250px);
    top: calc(50% - 150px);
    background: white;
    border: 1px solid #cccc;
    border-radius: 0.25rem;
}

form{
    flex-grow: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.handle-container .submit-button{
    margin: 0 auto;
    margin-top: 20px;
    width: 80px;
}
.dropdown-menu{
    padding-top: 0;
}
.dropdown-menu .dropdown-toggle{
    display: block;
    margin: 0 auto;
}
.dropdown-menu .submit-item a{
    display: block;
    width: 90px;
    margin: 0 auto;
    margin-top: 8px;
}

